<form action="/convert" enctype="multipart/form-data" method="post">
	<p>
		Please specify a file:<br>
		<input type="file" name="datafile" size="40">
	</p>
	<input type="submit" value="Send">
</form>
